/*
* @Author: Jason
* @Date:   2017-01-03 23:20:26
* @Last Modified by:   Jason
* @Last Modified time: 2017-01-23 20:54:16
*/

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FEFCF6;
    color: #333;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

.title {
    text-align: center;
}

img {
    max-width: 100%;
}

@media (min-width: 695px) {
    .column {
        float: left;
        margin-bottom: 2em;
    }
    .column.full {
        width: 100%;
    }
    .column.two-thirds {
        width: 66.7%;
    }
    .column.half {
        width: 50%;
    }
    .column.third {
        width: 33.3%;
    }
    .column.fourth {
        width: 25%;
    }
    .column.fifth {
        width: 20%;
    }
    .column.flow-opposite {
        float: right;
    }
}

header {
    position: fixed;
    background-color: #FEFCF6;
    height: 80px;
    z-index: 99;
}

header a {
    color: #333;
}

.fixed {
    position: fixed;
}

header h1 {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 0 auto;
}

nav {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    width: 100vw;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

nav ul li a {
    letter-spacing: 0.1em;
    text-align: center;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    color: #999;
}


/*  */

nav ul li a:hover {
    cursor: pointer;
}


/*
.current_page {
    border: 1px solid #333;
    padding: .5em;
    color: #333;
}

.current_page a {
    color: white;
} */

#menu_button_wrapper {
    display: none;
}

.hidden {
    display: none;
}

@media (max-width: 760px) {
    #menu_button_wrapper {
        display: block;
        /* -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1); */
    }
    #hamburger:hover {
        cursor: pointer;
    }
    #hamburger {
        width: 2em;
        height: 2em;
        margin: 0 auto;
        padding-top: .5em;
        color: #333;
    }
    #menu_button span {
        display: block;
        background-color: #333;
        width: 1.3em;
        height: .13em;
        border-radius: 1px;
        margin-bottom: .3em;
    }
    #menu_button span:first-child:after {
        content: " MENU";
        position: relative;
        left: 1.4em;
        top: -0.2em;
        font-weight: bold;
        font-size: 1em;
    }
    header {
      height: 50px;
    }
    nav {
        width: 100vw;
        margin: 0 auto;
        padding: .5em 0;
    }
    nav ul {
        width: 100vw;
        background-color: #FEFCF6;
        height: auto;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        width: 100%;
    }
    .card {
        margin-bottom: 2em;
    }
}

#banner .bg {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.intro a {
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border: 1px solid #fff;
    padding: .1em;
}

.intro {
    position: relative;
    top: 25%;
    width: 80%;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 3em;
    margin: 2em auto;
    background-color: rgba(51, 51, 51, .2);
}

.desc {
    text-align: center;
    padding: 2em;
    line-height: 1.8em;
    letter-spacing: .1em;
    text-indent: 2em;
}

.row h2 {
    font-size: 2em;
    text-align: center;
}

.card {
    width: auto;
    height: auto;
    background-color: rgba(1, 1, 1);
    opacity: .5;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    color: #333;
    font-size: 1.2em;
    letter-spacing: .01em;
    margin-bottom: 1em;
}

.card h3 {
    text-align: center;
    font-size: 1.3em;
}

.card p {
    padding: 1em;
}

.card img {
    max-width: 100%;
}

.bgc {
    background-color: #333;
    color: #fff;
}

.active {
  text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2em;
}
